* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: grid;
    grid-template-areas:
    'header header header'
    'left content right';
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;

    background-color: darkslateblue;
    background-image: url(assets/wallpaperflare.com_wallpaper.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(34, 29, 66, 0.5);
    backdrop-filter: blur(50px);

    display: flex;
    position: fixed;
    grid-area: header;

    align-items: center;
    justify-content: space-between;
    width: 100%;

    font: 500 1rem 'Oxygen', serif;
}

header a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    height: 8vh;

    color: white;
    border-top: solid 3px rgba(34, 29, 66, 0);
    border-bottom: solid 3px rgba(34, 29, 66, 0);
    transition-duration: 0.2s;
}

header a:hover {
    border-bottom: solid 3px beige;
}

ul {
    display: flex;
    list-style-type: none;
}
