.account-tabs a {
    position: absolute;
    bottom: 5vh;
    left: 5.5vw;
    color: beige;
    font: 500 1rem 'Merriweather', serif;
    animation-duration: 0.2s;
}

.account-tabs a:hover {
    color:darkslateblue;
    border-bottom: solid 2px darkslateblue;
}